@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
/* line 3, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
body {
  font-family: "Lora", serif; }

/* line 7, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
.button-collapse {
  padding-left: 20px; }

@media (min-width: 900px) {
  /* line 12, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  .brand-logo {
    margin: 0px 20px; } }

/* line 17, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
.side-nav {
  z-index: 999; }

/* line 21, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
.image {
  height: 95vh;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1434828978515-3a33ad5651c8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=f4ee877d4397709a914211809ee552b9");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  word-wrap: break-word;
  hyphens: manual; }
  /* line 30, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  .image .image-content {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 99;
    width: 100%;
    text-align: center;
    color: white; }
    /* line 38, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
    .image .image-content h1 {
      font-weight: 700;
      font-size: 80px;
      line-height: 1;
      text-shadow: 3px 3px black; }
    /* line 44, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
    .image .image-content h2 {
      text-transform: uppercase;
      font-size: 25px;
      z-index: 9999999999;
      font-weight: 700;
      color: white;
      text-shadow: 2px 2px black; }
    /* line 52, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
    .image .image-content .btn {
      margin-top: 20px; }

/* line 58, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
.btn {
  font-size: 20px;
  font-weight: 700;
  z-index: 10000000000000;
  cursor: pointer; }
  /* line 63, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  .btn i:first-of-type {
    padding-right: 10px; }
  /* line 66, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  .btn i:last-of-type {
    padding-left: 10px; }

/* line 71, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
h3 {
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  text-align: center; }

/* line 77, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
blockquote {
  border: none;
  border-bottom: 1px dashed #1e88e5;
  padding: 5px 10px; }
  /* line 81, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  blockquote strong {
    font-weight: 700; }
  /* line 84, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  blockquote:nth-child(odd) {
    border-left: 5px solid #1e88e5;
    border-bottom-left-radius: 20px; }
  /* line 88, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  blockquote:nth-child(even) {
    border-right: 5px solid #1e88e5;
    border-bottom-right-radius: 20px;
    text-align: right; }

/* line 95, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
#about {
  text-align: center; }
  /* line 97, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  #about img {
    width: 100%;
    height: auto; }
  /* line 101, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  #about .blurb {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3; }

/* line 109, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
.counter {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #1e88e5;
  line-height: 0.3; }
  /* line 115, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
  .counter + p {
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    line-height: 1; }

/* line 123, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
hr.short {
  width: 200px;
  margin: 30px auto; }

/* line 128, C:/Users/ram.zallan/Desktop/morty2016/css/styles.scss */
.counters {
  padding-top: 20px; }

/*# sourceMappingURL=styles.css.map */